/node_modules
/oh_modules
/local.properties
/.idea
**/build
/.hvigor
.cxx
/.clangd
/.clang-format
/.clang-tidy
**/.test
/.appanalyzer
**/cj_res
**/*.cj.macrocall
**/ability_mainability_entry.cj
**/module_**_entry.cj
**/IDL_Dependencies_List~
**/build-script-cache
oh-package-lock.json5
cjpm.lock
IDL_Custom_Type_Whitelist~

BuildProfile.ets

.cache
.vnext
.vscode
target
/test
ci_lib
ci_test
log.txt
module-lock.json
.cjpm-history
src/z_test.cj
