.git/
.vscode/
/.vscode
/.git
/.idea
/build
/bin
module-resolve.json
/ci_lib/
/ci_test/
/setup.sh
/test/HLT/report/
/test/HLT/log/
/test/HLT/tmp/
*.gcda
*.gcno
unittest
log
report
tmp
.cjpm-history
module-lock.json
temp_ci_lib/
*.macrocall
.cache
output/
cjpm.lock
.vnext
src/z_test.cj
src/z_main.cj
test_temp
target
log.txt